{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/board.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/mathquill.css" />
<script language="javascript" src="{{ MEDIA_URL }}js/board.js"></script>
<script language="javascript" src="{{ MEDIA_URL }}js/mathquill.min.js"></script>
<script>
$(document).ready(function(){
    var last_clicked = null;
	$("span.tex").mathquill('editable').click(function(){
		last_clicked = this;
	});
	$("#editor-buttons button").click(function(e){
		var sel, range, e, cmd_insert = $(this).data('insert');
		if(cmd_insert == 'new'){
			sel = window.getSelection();
			if(sel.getRangeAt && sel.rangeCount){
				range = sel.getRangeAt(0);
				if(range.commonAncestorContainer.id != 'editor'
					&& range.commonAncestorContainer.parentElement.id != 'editor')
					return false;
				range.deleteContents();
				e = $("<span class='tex'/>").mathquill('editable').click(function(){
					last_clicked = this;
				});
				range.insertNode(e[0]);
				e.mathquill('redraw');
			}
		}else{
			if(last_clicked == null) return false;
			$(last_clicked).mathquill('cmd', cmd_insert);
		}
		return false;
	}).mousedown(function(e){e.preventDefault()});
});
</script>
{% endblock %}
{% block content %}
<div id="edit">
    <form action="/problem/edit/" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ problem.id }}">
        <input type="hidden" name="html" id="problem-html">
        <table>
            <tr>
                <th><p>TITLE</p></td>
                <td id="title-td">
                    <input type="text" name="title" value="{{ problem.title }}">
                </td>
                <th><p>WRITER</p></td>
                <td><p>{{ problem.writer.first_name }}</p></td>
                <th><p>DATE</p></td>
                <td><p>{{ problem.created|date:"Y-m-d" }}</p></td>
            </tr>
			<tr>
				<td id="editor-buttons" colspan=6>
					<button data-insert="new">new eq</button>
					<button data-insert="\sqrt">sqrt</button>
					<button data-insert="\nthroot">n-root</button>
					<button data-insert="\frac">a/b</button>
					<button data-insert="\superscript">a^b</button>
					<button data-insert="\subscript">a_b</button>
					<button data-insert="\overline">overline</button>
					<button data-insert="\underline">underline</button>
					<button data-insert="\vec">vec(a)</button>
					<button data-insert="\alpha">&alpha;</button>
					<button data-insert="\beta">&beta;</button>
					<button data-insert="\gamma">&gamma;</button>
					<button data-insert="\times">&times;</button>
				</td>
			</tr>
            <tr>
                <td id="problem" colspan=6>
                    <!--<div contenteditable=true>-->
                    <div id="editor" contentEditable="true">
                        {{ problem.html|safe }}
                    </div>
                </td>
            </tr>
        </table>
        <p class='button left' onclick="window.location='/problem/show/?id={{ problem.id }}'">cancel</p>
        <p class='button right' onclick="submit();">save</p>
    </form>
</div>
{% endblock %}
