{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/board.css" />
<script language="javascript" src="{{ MEDIA_URL }}js/board.js"></script>
<script language="javascript" src="{{ MEDIA_URL }}js/filedrop.js"></script>
<script>
$(document).ready(function(){
    upload_files = new FormData();
    file_num = 0;

    var file_input = $('#zbasic input[type=file]')[0];
    if(file_input.addEventListener){
        file_input.addEventListener("change", handleFileSelect, false);
    }else{
        file_input.attachEvent("change", handleFileSelect, false);
    }

    pagenum=1;
    page_load();
});
</script>
{% endblock %}
{% block content %}
<div id="board">
    <table id="question-list">
        <tr>
            <th width=100px><p>NUM</p></td>
            <th><p>TITLE</p></td>
            <th width=100px><p>WRITER</p></td>
            <th width=200px><p>DATE</p></td>
        </tr>
    </table>
    {% if user.is_staff %}
    <p id="upload" onclick="unfold_upload();">upload</p>
    <div id="upload-window">
        <p class="descript">Please upload porblem files.</p>
        <p class="descript">(drag-and-drop is possible.)</p>
        <fieldset id="zbasic" ondragenter="onDragEnter(event)" ondragover="onDragOver(event);" ondragleave="onDragLeave(event);" ondrop="onDrop(event)">
            <input type="file" multiple>
        </fieldset>
        <img id="close" src="/media/image/x.png" onclick="fold_upload();">
        <p id="upload-button" onclick="upload();">upload</p>
    </div>
    {% endif %}
    <form action="/problem/search/" method="POST" id="search-form">
        <input type="text" name="find">
        <input type="submit" value="Search">
    </form>
</div>
{% endblock %}
