{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/board.css" />
<script language="javascript" src="{{ MEDIA_URL }}js/board.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#problem span.tex").each(function(){
		var tex = $(this).text();
		$(this).text('\\(\\displaystyle{'+tex+'}\\)');
		MathJax.Hub.Queue(['Typeset', MathJax.Hub, this]);
	});
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}
{% block content %}
<div id="show">
    <table>
        <tr>
            <th><p>TITLE</p></td>
            <td id="title-td"><p>{{ problem.title }}</p></td>
            <th><p>WRITER</p></td>
            <td><p>{{ problem.writer.first_name }}</p></td>
            <th><p>DATE</p></td>
            <td><p>{{ problem.created|date:"Y-m-d" }}</p></td>
        </tr>
        <tr>
            <td id="problem" colspan=6>
                {{ problem.html|safe }}
            </td>
        </tr>
    </table>
    <p class='button left' onclick="window.location='/problem/'">list</p>
    <p class='button right' onclick="window.location='/problem/edit/?id={{ problem.id }}'">edit</p>
    <p class='button right' onclick="del_problem({{ problem.id }});">delete</p>
</div>
{% endblock %}
