{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/account.css" />
{% endblock %}
{% block content %}
<div id="signup">
    <form id="signup-form" method="POST" action="/signup/">
        {% csrf_token %}
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" name="id" value="{{ id }}"></td>
            </tr>
            <tr>
                <td>PASSWORD</td>
                <td><input type="password" name="password" value="{{ password }}"></td>
            </tr>
            <tr>
                <td>RE-PASSWORD</td>
                <td><input type="password" name="password" value="{{ password }}"></td>
            </tr>
            <tr>
                <td>NAME</td>
                <td><input type="text" name="name" value="{{ name }}"></td>
            </tr>
            <tr>
                <td colspan=2>
                    <p id="submit" onclick="$('#signup-form').submit();">SUBMIT</p>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
