#signup
{
    float:left;
    width:100%;
}

#signup table
{
    padding:30px;
    border:1px solid black;
    margin:200px auto;
}

#signup table td
{
    padding:5px 10px;
}

#signup form input[type="text"]
,#signup form input[type="password"]
{
    height:20px;
    line-height:20px;
    width:200px;
}

#signup form #submit
{
    height:30px;
    width:80px;
    background:gray;
    cursor:default;
    line-height:30px;
    margin:auto;
    margin-top:30px;
    text-align:center;
}

#signup form #submit:hover
{
    background:lightgray;
}
