#board
{
    width:1000px;
    height:520px;
    margin:100px auto;
    border-top:5px solid rgb(32,56,100);
    position:relative;
}

#board table#question-list
{
    width:1000px;
    border-spacing:0px;
    border-collapse:collapse;
}

#board table#question-list th
{
    background:rgb(217,217,217);
}

#board table#question-list th p
{
    font-size:15px;
    text-align:center;
    height:25px;
    line-height:25px;
}

#board table#question-list tr.problem_tr
{
    border-bottom:1px solid rgb(171,171,171);
}

#board table#question-list tr.block_tr td
{
    height:26px;
    background:rgb(240,240,240);
}

#board table#question-list tr.problem_tr:hover td
{
    background:rgb(240,144,70);
}

#board table#question-list td
{
    background:white;
    cursor:default;
}

#board table#question-list td p
{
    font-size:15px;
    text-align:center;
    height:25px;
    line-height:25px;
}

#board p#upload
{
    width:100px;
    height:30px;
    font-size:18px;
    float:right;
    background:rgb(171,171,171);
    border-radius:5px;
    color:white;
    margin-top:10px;
    text-align:center;
    line-height:30px;
    cursor:default;
    text-decoration:none;
    position:absolute;
    right:0px;
    bottom:35px;
}

#board p#upload:hover
{
    background:rgb(82,82,82);
}

#board div#upload-window
{
    position:absolute;
    right:0px;
    bottom:35px;
    width:700px;
    height:300px;
    background:white;
    border:3px solid rgb(82,82,82);
    border-radius:10px;
    display:none;
}

#upload-window .descript
{
    margin-left:10px;
    margin-top:10px;
}

#upload-window #zbasic
{
    margin-top:20px;
    margin-left:10px;
    width:650px;
    height:150px;
    background:rgb(230,230,230);
    border-radius:20px;
    border:3px dotted rgb(82,82,82);
    overflow:auto;
}

#upload-window #zbasic:hover
{
    border-color:rgb(240,144,70);
}

#upload-window #zbasic div
{
    width:0px;
    height:0px;
}

#upload-window #zbasic input[type=file]
{
    opacity:0;
    cursor:pointer;
    width:650px;
    height:150px;
    position:absolute;
}

#upload-window img#close
{
    width:30px;
    height:30px;
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

#upload-window p#upload-button
{
    width:100px;
    height:30px;
    font-size:18px;
    float:right;
    background:rgb(171,171,171);
    border-radius:5px;
    color:white;
    margin-top:10px;
    text-align:center;
    line-height:30px;
    cursor:default;
    position:absolute;
    right:10px;
    bottom:10px;
}

#upload-window p#upload-button:hover
{
    background:rgb(82,82,82);
}

#page-contain
{
    margin-top:10px;
    width:auto;
    float:left;
    height:20px;
}

#page-contain p
{
    cursor:default;
    float:left;
    font-size:15px;
    line-height:15px;
    margin:0px 5px;
    color:black;
}

#page-contain p.page
{
    cursor:pointer;
    color:rgb(172,172,172);
}

#page-contain p.page:hover
{
    color:black;
}

#search-form
{
    position:absolute;
    bottom:0px;
    width:300px;
    height:30px;
    right:350px;
}

#search-form input[type=text]
{
    float:left;
    width:200px;
    height:21px;
    font-size:15px;
    line-height:21px;
}

#search-form input[type=submit]
{
    float:left;
    width:80px;
    height:27px;
    font-size:15px;
    margin-left:10px;
    line-height:25px;
    border:none;
}

#search-form input[type=submit]:hover
{
    background:rgb(240,144,70);
}

#show
{
    margin:100px auto;
    width:960px;
    background:rgb(240,240,240);
    padding:20px;
    border-radius:20px;
    overflow:auto;
}

#show table
{
    border-collapse:collapse;
    border-spacing:0px;
}

#show table th,
#show table td
{
    border:1px solid black;
}

#show table th
{
    width:100px;
    text-align:center;
    height:30px;
    line-height:30px;
    font-weight:bold;
}

#show table td
{
    width:120px;
    text-align:center;
    height:30px;
    line-height:30px;
}

#show table td#title-td
{
    width:420px;
}

#show table td#problem
{
    height:auto;
}

#show iframe
{
    position:relative;
    margin:30px auto;
    width:auto;
    height:auto;
}

#show p.button
{
    width:100px;
    height:30px;
    font-size:18px;
    float:right;
    background:rgb(171,171,171);
    border-radius:5px;
    color:white;
    margin-top:10px;
    text-align:center;
    line-height:30px;
    cursor:default;
    text-decoration:none;
    position:relative;
}

#show p.button:hover
{
    background:rgb(82,82,82);
}

#show p.left
{
    float:left;
    margin-right:20px;
}

#show p.right
{
    float:right;
    margin-left:20px;
}
