html,body
{
    margin:0px;
    padding:0px;
}

#header
{
    width:100%;
    min-width:1000px;
    height:140px;
}

#header #contents
{
    background:rgb(232,242,225);
    width:100%;
    min-width:1000px;
    height:140px;
    margin:auto;
    overflow:auto;
}

#header #hotil
{
    height:80px;
    width:100%;
    min-width:1000px;
    background:rgb(240,144,70);
}

#header #hotil-title
{
    float:left;
    margin-left:10px;
    color:white;
    margin-top:25px;
    line-height:50px;
    font-size:50px;
    cursor:pointer;
}

#header .menu
{
    float:left;
    border-radius:10px;
    width:130px;
    margin:10px 0px 0px 10px;
    height:40px;
    line-height:40px;
    color:white;
    text-align:center;
    cursor:default;
    text-transform:uppercase;
    font-size:18px;
    background:rgb(193,199,189);
}

#header .menu:hover
{
    background:rgb(240,144,70);
}

#header #account
{
    margin:9px 10px;
    height:40px;
    line-height:40px;
    width:100px;
    float:right;
    font-size:18px;
    color:rgb(82,82,82);
    border-radius:10px;
    border:1px solid rgb(82,82,82);
    text-align:center;
    text-transform:uppercase;
    cursor:default;
}

#header #account:hover
{
    background:rgb(82,82,82);
    color:white;
}

#container
{
    width:100%;
    min-width:1000px;
    margin:auto;
    overflow:auto;
    background:rgb(248,203,173);
}

#footer
{
    height:100px;
    width:100%;
    min-width:1000px;
    padding:20px 0px;
    margin:auto;
    background:rgb(70,70,70);
}

#footer p
{
    font-size:13px;
    color:white;
    text-align:center;
}

#footer b
{
    color:yellow;
}

#footer #teamname
{
    margin-bottom:10px;
}

#background
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    min-width:1000px;
    height:100%;
    background:black;
    opacity:0.3;
    z-index:1;
}

#login
{
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
    height:300px;
    background:white;
    z-index:2;
}

#login #exit
{
    width:30px;
    height:30px;
    float:right;
    margin:15px;
    margin-left:460px;
    cursor:pointer;
}

#login #login-content
{
    float:left;
    height:240px;
}
