html,body
{
    margin:0px;
    padding:0px;
}

#header
{
    position:absolute;
    top:0px;
    height:180px;
}

#header #contents
{
    background:rgb(232,242,225);
    width:100%;
    min-width:1000px;
    height:180px;
    margin:auto;
    overflow:auto;
}

#header #hotil
{
    height:100px;
    width:100%;
    min-width:1000px;
    background:rgb(240,144,70);
}

#header #hotil-title
{
    float:left;
    margin-left:10px;
    color:white;
    margin-top:45px;
    line-height:50px;
    font-size:50px;
}

#header .menu
{
    float:left;
    border-radius:10px;
    width:180px;
    margin:15px 0px 0px 15px;
    height:50px;
    line-height:50px;
    color:white;
    text-align:center;
    cursor:default;
    text-transform:uppercase;
    font-size:25px;
    background:rgb(193,199,189);
}

#header .menu:hover
{
    background:rgb(240,144,70);
}

#header #account
{
    margin:15px 15px;
    height:50px;
    line-height:50px;
    width:120px;
    float:right;
    font-size:25px;
    color:rgb(82,82,82);
    border-radius:10px;
    border:1px solid rgb(82,82,82);
    text-align:center;
    text-transform:uppercase;
    cursor:default;
}

#header #account:hover
{
    background:rgb(82,82,82);
    color:white;
}

#container
{
    width:100%;
    min-height:1000px;
    margin:auto;
    margin-top:150px;
    overflow:auto;
}

#footer
{
    height:100px;
    padding:20px 0px;
    margin:auto;
    background:rgb(70,70,70);
}

#footer p
{
    font-size:12px;
    color:white;
    text-align:center;
}

#footer b
{
    color:yellow;
}

#footer #teamname
{
    margin-bottom:10px;
}
