<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HOTIL</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/layout.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/default.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/default.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
        {% block header %}{% endblock %}
        <script>
            $(document).ready(function(){
                setting_fold = true;
                $('body > div:not(#float)').click(function(){
                    if(!setting_fold) fold_setting();
                });

                // automatically fix height of container
                window.onload = autoHeight;
                window.onresize = autoHeight;
            });
        </script>
    </head>
    <body>
        <div id="header">
            <div id="contents">
                <div id="hotil"><p id="hotil-title" onclick="window.location='/'">HOTIL</p></div>
                <p class="menu">notice</p>
                <p class="menu">lecture</p>
                {% if user.is_authenticated %}
                <p id="user-name">
                    {{ user.first_name }}
                    <b>
                        {% if user.is_staff %}
                        (관리자)
                        {% else %}
                        (학생)
                        {% endif %}
                    </b>
                </p>
                <p class="menu" onclick="window.location='/problem/'">problem</p>
                {% else %}
                <p class="menu" onclick="alert('로그인 후에 이용해 주세요.')">problem</p>
                {% endif %}
                <p class="menu">Q&A</p>
            </div>
        </div>
        <div id="float">
            {% if user.is_authenticated %}
            <p id="account" onclick="unfold_setting();">setting</p>
            <div id="black">
                <p class="menu" onclick="fold_setting();">setting</p>
                <p class="menu">mypage</p>
                <p class="menu" onclick="ajaxLogout();">logout</p>
            </div>
            {% else %}
            <p id="account" onclick="loginDialog();">login</p>
            {% endif %}
        </div>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p id="teamname"><b>HOTTIL</b> - <b>H</b>angul <b>O</b>ffice <b>T</b>ranslator <b>T</b>eam <b>I</b>nto <b>L</b>aTeX</p>
            <p>Jihyeok Park - jhpjhp0223@gmail.com</p>
            <p>Jimin Park - pjm950@gmail.com</p>
            <p>Daecheol Park - dcpark1992@gmail.com</p>
            <p>Jupeong Kim - recollecting1234@gmail.com</p>
        </div>
        {% csrf_token %}
    </body>
</html>
