<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Chalk</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/layout.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/default.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/default.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="contents">
                <p class="menu">question</p>
                <p class="menu">login</p>
                <p class="menu">signup</p>
                <p class="menu">search</p>
            </div>
        </div>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p id="teamname"><b>HOTTIL</b> - <b>H</b>angul <b>O</b>ffice <b>T</b>ranslator <b>T</b>eam <b>I</b>nto <b>L</b>aTeX</p>
            <p>Jihyeok Park - jhpjhp0223@gmail.com</p>
            <p>Jimin Park - pjm950@gmail.com</p>
            <p>Daecheol Park - dcpark1992@gmail.com</p>
            <p>Jupeong Kim - recollecting1234@gmail.com</p>
        </div>
    </body>
</html>
